* {
    margin: 0px;
    padding: 0px;
}

.mainDiv {
    width: 60%;
    margin: auto;
    display: flex;
    padding: 10px 0px;
    background-color: rgb(242, 243, 245);  
    min-height: 400px;
}

.formDiv {
    width: 80%;
    min-width: 260px;
    background-color: white;
    border: 1px solid black;
}

.labelInputDiv {
    width: 100%;
    margin: 8px 0px;
    padding: 2px 0px;
    font-size: 16px;
}

#startRowInput, #numProductsInput {
    width: 15%;
}


.labelInputDiv label {
    width:180px;
    float: left;
    clear: left;
    text-align:right;
    padding-right: 10px;
}

.formTitleHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    height: 75px;
    margin: auto;
}

.mainHeader {
    margin: 0px;
}


#sheetNameInput {
    width: 150px;
    height: 30px;
    border: none;
    font-size: 22px;
    padding-left: 5px;

}

#sheetNameInput:focus {
    outline: none;
    border: 1px solid black;
    background-color: white;
}

#sheetNameInput::placeholder {
    color: red;
}

#sheetNameInput:focus::placeholder {
    color: transparent;
}


#mainFormStartButton, #mainFormPauseButton {
    min-width: 150px;
    height: 35px;
    margin: 10px 5px;
    background-color: white;
}

#mainFormPauseButton {
    display:none;
}



#serverMsg {
    font-size: 16px;
    max-width: 100%;
    color: red;
    padding: 0px 5px;
    word-wrap: break-word;

}

#googleSheetsLinksTable {
    width: 30%;
    min-width: 260px;
    height: fit-content;
    margin: 0px 15px;
}

 #googleSheetsLinksTable th {
    font-size: 16px;
    border-bottom: solid black 1px;
    
}

#googleSheetsLinksTable tr, #googleSheetsLinksTable th {
    font-size: 16px;
    text-align: center;
}

#sheetLinkButton {
    background-color: white;
    border-radius: 3px;
    margin: 8px 0px;
}


@media screen and (max-width: 1024px) {

    .mainDiv {
        flex-direction: column;
        align-items: center;
    }

    #mainForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.labelInputDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15%;
    max-width: 350px;
    margin: 0px auto;
}

.labelInputDiv label, .labelInputDiv input {
    text-align: center;
}

#mainForm {
    flex-direction: column;
}

#googleSheetsLinksTable {
    width: 80%;
    margin: 0px;

}
}



