.mainHeader {
    width: 15% ;
    height: 7% ;
    margin: auto;
    text-align: center;
    font-size: 24px;
}


.mainDiv {
    width: 60%;
    height: 60%;
    margin: auto;
    display: flex;
  
}

.formDiv {
    width: 65%;
    background-color: cornsilk;
    border: 1px solid black;

}

#mainForm {
    width: 100%;
    height: 65%;

}

.labelInputDiv {
    width: 100%;
    margin: 8px 0px;
    padding: 2px 0px;
    font-size: 16px;
}

.labelInputDiv label {
    width:180px;
    float: left;
    clear: left;
    text-align:right;
    padding-right: 10px;
}

#mainFormButton {
    width: 20%;
    height: 10%;

}

#serverMsg, #warningMsg {
    font-size: 16px;
    width: 50%;
    color: red;
    white-space: pre;
}

#googleSheetsLinksTable {
    width: 30%;
    height: fit-content;
}

 #googleSheetsLinksTable th {
    font-size: 16px;
    border-bottom: solid black 1px;
}

#googleSheetsLinksTable tr, #googleSheetsLinksTable th {
    font-size: 16px;
    text-align: center;
}

#sheetLinkButton {
    background-color: white;
    border-radius: 3px;
    margin: 8px 0px;
}


@media screen and (max-height: 768px) {
    body {
        height: 768px;
        overflow-y: scroll;
    }
}


@media screen and (max-width: 1024px) {

    .mainDiv {
        flex-direction: column;
        width: 75%;
        height: fit-content;
    }

#googleSheetsLinksTable {
   width: 80%;
}

.formDiv {
    width: 100%;
    height: 78%;
}

.labelInputDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15%;
    max-width: 350px;
    margin: 0px auto;
}

.labelInputDiv label, .labelInputDiv input {
    text-align: center;
    width: 70%;
    height: 40%;
}

#mainForm {
    flex-direction: column;
}

#mainFormButton {
    width: 30%;
    height: 10%;
}

#warningMsg, #serverMsg {
    font-size: 14px;
    width: 100%;
    overflow: hidden;
    
}


}



