
.mainDiv {
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

#mainForm {
    display: flex;
    padding: 5px;
}

.labelInputDiv {
    font-size: 16px;
    padding: 3px;
}

.productCountDiv{
    display: flex;
    flex-direction: column;
}
.productCountDiv-2{
    display: flex;
}


#parametersTable {
    width: 100%;
    background-color: aqua;
}


#spacer-div, #updateAllCheckboxDiv{
    flex: 1;
}


#formLabel{
    width:180px;
    float: left;
    clear: left;
    text-align:right;
    padding-right: 10px;
}

.formTitleHeader {
    align-self: center;
}

#mainFormPauseButton {
    display: none;
}

.formButtonDiv  {
    padding: 10px;
    width: fit-content;
    margin: auto;
}



#mainFormStartButton, #mainFormPauseButton {
    min-width: 150px;
    height: 35px;
    background-color: white;
}


#userMsg {
    font-size: 16px;
    max-width: 100%;
    color: red;
}

#googleSheetsLinksTable {
    min-width: 260px;
    max-width: 100%;
}

#googleSheetsLinksTable td {
    padding: 5px;
}


tr, th {
    text-align: center;
}

#sheetLinkButton {
    border-radius: 2px solid black;
    padding: 3px;
    background-color: white;
}

#requestStatsTable {
    margin-top: 10px;  
    min-width: 260px;
    width: 500px; 
}

/* progress-bar */

#progress-bar {
    background-color: lightblue;
}

#progress-div {
    width: 85%;
    margin: auto;
    display: none;
}


@media screen and (max-width: 1024px) {


.labelInputDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
}

#formLabel, .formInput {
    text-align: center;
}

#mainForm {
   flex-direction: column;
}

.productCountDiv-2 {
    align-self: center;
}

#spacer-div {
    display: none;
}

}

