html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Update Products
        link(rel="icon", href="/Users/abdi/InventoryTracker/images/refresh.png")
        style 
            include index.css
       
    body  
        h1.mainHeader Update Products
        div.mainDiv
            div.formDiv
                form#mainForm(action="#")
                    div.labelInputDiv
                         label#startLabel Start
                         input#startRowInput(type="number" placeholder="start"  )
                    div.labelInputDiv
                        label#numProductsLabel Number of Products
                        input#numProductsInput(type="number" placeholder="number of products" )
                    div.labelInputDiv
                         label#googleSheetNameLabel Spreadsheet Name
                         input#sheetNameInput(type="text" placeholder="sheet name" )
                    div.labelInputDiv
                        label#sheetLinkLabel Spreadsheet Link
                        input#sheetLinkInput(type="text" placeholder="sheet link" )
                    div.labelInputDiv
                        label#saveGoogleSheetLabel Save Spreadsheet?
                        input#saveGoogleSheetCheckbox(type="checkbox")
                    button#mainFormButton(type="submit" onclick="submitProductUpdates()") Update
                span#serverMsg 
                span#warningMsg *grant read/write permission to anyone with link*
                ul#errorList

            table#googleSheetsLinksTable
                tr
                    th Name 
                    th Paste?
        //- script needs to be at end so dom elements can load??/
        script
            include index.js
        script
            include dom.js
        script(src="https://unpkg.com/axios/dist/axios.min.js")