html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Update Products
        link(rel="icon", href="/Users/abdi/InventoryTracker/images/refresh.png")
        style 
            include index.css
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/css/bootstrap-select.css"> 
    body 
        div.mainDiv
            div.formTitleHeader
                h3.mainHeader Update Spreadsheet 
            form#mainForm(action="#")
                .col-1 
                    div.labelInputDiv
                        label#formLabel Start
                        input#startRowInput.formInput(type="number" placeholder=2)
                    div.productCountDiv 
                        .productCountDiv-1.labelInputDiv
                            label#formLabel Number of Products
                            input#numProductsInput.formInput(type="number" placeholder="0" ) 
                        .productCountDiv-2 
                            #spacer-div 
                            #updateAllCheckboxDiv
                                label Update All
                                input#updateAllInput(type="checkbox" )
                .col-2 
                    div.labelInputDiv
                        label#formLabel Sheet Link
                        input#sheetLinkInput.formInput(type="text" placeholder="sheet link" )
                    div.labelInputDiv
                        label#formLabel Sheet Name
                        input#sheetNameInput.formInput(type="text" placeholder="sheet name" )
                    div.labelInputDiv
                        label#formLabel(for="merchantPicker") Merchant
                        select.selectPicker(id="merchantPicker")
                            option(value="amazon" selected) Amazon 
                    div.labelInputDiv
                        label#formLabel(for="templatePicker") Template
                        select.selectPicker(id="templatePicker")
                            option(value="fbShops" selected) Facebook Shops
                    div.labelInputDiv
                        label#formLabel(for="optionsPicker") Options
                        select.selectPicker(id="optionsPicker" multiple)
                            option(value="retries" ) Allow Retries
                            option(value="retgsdfes" ) Allow Retries
                    div.formButtonDiv 
                        button#mainFormStartButton(type="submit" onclick="startProductUpdates(event)") Update
                        button#mainFormPauseButton(type="button" onclick="stopProductUpdates()") Pause
            p#userMsg 
            div.progress#progress-div
                div.progress-bar#progress-bar(role="progressbar"  aria-valuemin="0" aria-valuemax="100")
            table#googleSheetsLinksTable
                thead 
                    th Saved Sheets
                tbody 
                    tr
        <script src="/socket.io/socket.io.js"></script>
        script
            include index.js
        script(src="https://unpkg.com/axios/dist/axios.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")    
        script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/js/bootstrap-select.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>








