html
  head
    title Login Page
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css")
    style 
        inlude login.css
  body
    .container
      h1 Login Page
      button.social-button(class="social-button" onclick="login()") Login with Google
  script
    include login.js 
  script(src="https://unpkg.com/axios/dist/axios.min.js")

    